.contact {
  .contact-main {
    margin: 3rem 0;

    .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      max-width: 700px;
      margin: 0 auto;

      input,
      textarea {
        width: 100%;
        margin: 0.5rem 0;
        position: relative;

        &::placeholder {
          color: $text-grey;
          font-family: $roboto;
          font-weight: 600;
          font-size: 16px;
          position: absolute;
          left: 10rem;
        }
      }

      .text-box {
        padding: 1rem 0.5rem;
        background-color: $med-grey;
        border: 2px solid $nav-text-grey;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        font-family: $roboto;

        &:focus {
          outline: none;
          border: 2px solid $text-grey;
        }
      }

      textarea {
        padding: 1rem 0.5rem;
        border-radius: 5px;
        background-color: $med-grey;
        border: 2px solid $nav-text-grey;
        color: #fff;
        font-size: 16px;
        font-family: $roboto;

        &:focus {
          outline: none;
          border: 2px solid $text-grey;
        }
      }

      .send-btn {
        padding: 0.8rem;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: $dark-grey;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        -webkit-appearance: none;

        &:hover {
          border: 2px solid $text-grey;
        }
      }
    }
  }
}
