.head-main {
  font-family: $playfair;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: $accent-blue;
}

.head-secondary {
  font-family: $playfair;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}

.title {
  font-family: $playfair;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}

.title-info {
  font-family: $roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: $text-grey;
}

.icon-main {
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: $accent-blue;
}

.text {
  font-family: $roboto;
  font-size: 16px;
  line-height: 26px;
  color: $text-grey;
}