.portfolio {
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    // align-items: center;
    // justify-content: space-between;
    // max-width: 50%;

    @media (max-width: 1100px) {
      grid-template-columns: 1fr;
    }
  }

  &__image {
  }

  &__img {
    max-width: 100%;
  }

  &__text {
    padding: 5rem;
  }

  &__heading {
  }

  &__sub {
  }
}
