@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&family=Roboto:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #29292b;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  margin-left: 12.5rem;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 3rem auto;
}

.main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #777;
  padding-bottom: 0.6rem;
}

.main-head i {
  font-size: 45px;
  line-height: 45px;
  color: #00a3e1;
}

.head-sub {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
  border-bottom: 2px solid #00a3e1;
  padding-bottom: 0.4rem;
  width: 140px;
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
}

.head-sub::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 2px;
  bottom: 0;
  left: 0;
  background-color: #00a3e1;
}

.head-sub::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 2px;
  bottom: 0;
  right: 0;
  background-color: #00a3e1;
}

.head-main {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: #00a3e1;
}

.head-secondary {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}

.title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}

.title-info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #e1e1e1;
}

.icon-main {
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #00a3e1;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #e1e1e1;
  letter-spacing: 0.8px;
  margin-bottom: 1rem;
}

.mobile {
  min-height: 50px;
  background-color: #18191c;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1000;
}

.mobile .mob-head {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.5rem;
  display: block;
}

.mobile .hamburger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid #29292b;
  cursor: pointer;
  color: #fff;
}

.mobile .hamburger i {
  padding: 1rem;
  font-size: 22px;
}

.sidebar {
  max-width: 12.5rem;
  min-width: 10vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #18191c;
}

.sidebar .top-section {
  position: relative;
}

.sidebar .top-section .logo {
  width: 100%;
}

.sidebar .top-section .logo-text {
  font-family: "Playfair Display", serif;
  padding: 0.5rem;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background: #00a1e1d0;
  position: absolute;
  bottom: 0;
}

.sidebar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.sidebar .nav .nav-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 12px;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(70, 69, 69, 0.5);
  height: 100%;
}

.sidebar .nav .nav-item i {
  padding-right: 0.7rem;
  font-size: 1.2rem;
}

.sidebar .nav .nav-item .active {
  color: #fff;
}

.sidebar .nav .nav-link {
  font-family: "Roboto", sans-serif;
  color: #777;
  text-transform: uppercase;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.sidebar .nav .nav-link:hover {
  color: #fff;
}

.sidebar footer {
  position: absolute;
  bottom: 1rem;
  left: 0.8rem;
  width: 90%;
  color: #777;
  text-align: center;
}

.sidebar footer .socials {
  font-weight: 400;
  font-size: 18px;
}

.sidebar footer .socials a {
  color: #777;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar footer .socials a:not(:last-child) {
  padding-right: 0.7rem;
}

.sidebar footer .socials a:hover {
  color: #555;
}

.sidebar footer .socials i {
  font-size: 1.6rem;
}

.sidebar footer .socials i:last-child {
  padding-right: 0;
}

.sidebar footer .copyright {
  font-size: 12px;
  margin: 1rem 0;
}

.showcase {
  color: #fff;
  min-height: 100vh;
  width: 100%;
  background-image: url(../img/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.showcase::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.showcase .hero {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-70%, -70%);
          transform: translate(-70%, -70%);
}

.showcase .hero .hero-text {
  font-size: 62px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.showcase .hero .hero-text .hero-span {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 62px;
  color: #00a3e1;
  text-transform: uppercase;
}

.showcase .hero .hero-sub {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 300;
  margin-top: 1rem;
}

.showcase .hero .hero-sub .sub-span {
  font-weight: 700;
  border-bottom: 2px solid #00a3e1;
}

.about-main {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-main .about-info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.about-main .head-secondary {
  margin-bottom: 1.5rem;
}

.about-main .about-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 3rem;
}

.about-main .about-details .person-info .info {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #e1e1e1;
}

.about-main .about-details .person-info .about-title {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #fff;
  border-bottom: 2px solid #00a3e1;
}

.services {
  margin-top: 7rem;
}

.services .service-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 4rem;
}

.services .service-cards .service-card {
  margin: 2rem 2rem;
  max-width: 250px;
}

.services .service-cards .service-card i {
  font-size: 45px;
  color: #00a3e1;
}

.services .service-cards .service-card .service-title {
  font-family: "Playfair Display", serif;
  color: #e1e1e1;
  font-weight: 600;
  width: 80%;
  font-size: 22px;
  margin: 1rem auto 0.8rem auto;
  padding-bottom: 0.5rem;
  letter-spacing: 0.7px;
  border-bottom: 1px solid #00a3e1;
}

.services .service-cards .service-card .service-text {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #e1e1e1;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1.4;
}

.contact .contact-main {
  margin: 3rem 0;
}

.contact .contact-main .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

.contact .contact-main .contact-form input,
.contact .contact-main .contact-form textarea {
  width: 100%;
  margin: 0.5rem 0;
  position: relative;
}

.contact .contact-main .contact-form input::-webkit-input-placeholder,
.contact .contact-main .contact-form textarea::-webkit-input-placeholder {
  color: #e1e1e1;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  left: 10rem;
}

.contact .contact-main .contact-form input:-ms-input-placeholder,
.contact .contact-main .contact-form textarea:-ms-input-placeholder {
  color: #e1e1e1;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  left: 10rem;
}

.contact .contact-main .contact-form input::-ms-input-placeholder,
.contact .contact-main .contact-form textarea::-ms-input-placeholder {
  color: #e1e1e1;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  left: 10rem;
}

.contact .contact-main .contact-form input::placeholder,
.contact .contact-main .contact-form textarea::placeholder {
  color: #e1e1e1;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  left: 10rem;
}

.contact .contact-main .contact-form .text-box {
  padding: 1rem 0.5rem;
  background-color: #29292b;
  border: 2px solid #777;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.contact .contact-main .contact-form .text-box:focus {
  outline: none;
  border: 2px solid #e1e1e1;
}

.contact .contact-main .contact-form textarea {
  padding: 1rem 0.5rem;
  border-radius: 5px;
  background-color: #29292b;
  border: 2px solid #777;
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.contact .contact-main .contact-form textarea:focus {
  outline: none;
  border: 2px solid #e1e1e1;
}

.contact .contact-main .contact-form .send-btn {
  padding: 0.8rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #18191c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
}

.contact .contact-main .contact-form .send-btn:hover {
  border: 2px solid #e1e1e1;
}

@media (max-width: 1100px) {
  .about-main {
    display: block;
    position: relative;
  }
  .about-main .about-info {
    margin-bottom: 5rem;
  }
  .about-main .about-details {
    margin: 0;
  }
  .about-main .person-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-main .person-info .info {
    margin-right: 1.4rem;
  }
}

@media (max-width: 768px) {
  section {
    margin-left: 0;
  }
  .sidebar {
    margin-left: -12.5rem;
    -webkit-transition: margin 0.3s ease-in-out;
    transition: margin 0.3s ease-in-out;
  }
  .active {
    margin-left: 0;
    z-index: 1001;
    -webkit-transition: margin 0.3s ease-in-out;
    transition: margin 0.3s ease-in-out;
  }
  .showcase .hero {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
  }
  .showcase .hero .hero-text {
    font-size: 48px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
  }
  .showcase .hero .hero-text .hero-span {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 48px;
    color: #00a3e1;
    text-transform: uppercase;
  }
  .logo-text {
    display: none;
  }
  .about,
  .portfolio,
  .contact {
    margin-top: 5rem;
  }
  .mobile {
    opacity: 1;
  }
  .about-main {
    display: block;
    position: relative;
  }
  .about-main .about-info {
    margin-bottom: 5rem;
  }
  .about-main .about-details {
    margin: 0;
  }
  .about-main .person-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-main .person-info .info {
    margin-right: 1.4rem;
  }
}

.portfolio__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  background-color: #18191c;
}

@media (max-width: 1100px) {
  .portfolio__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.portfolio__image {
  position: relative;
}

.portfolio__img {
  max-width: 100%;
  display: block;
}

.portfolio__text {
  padding: 2rem 2rem 0 2rem;
  position: relative;
}

.portfolio__text::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00a3e1;
  top: -0.5rem;
  right: -0.5rem;
  opacity: 0.9;
  z-index: -1;
}

@media (max-width: 1100px) {
  .portfolio__text {
    padding: 2rem;
  }
  .portfolio__text::after {
    height: 0;
    width: 0;
  }
}

.portfolio__heading {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  line-height: 1;
  color: #e1e1e1;
}

.portfolio__sub {
  width: 75%;
  margin-bottom: 1rem;
  color: #e1e1e1;
}

.portfolio a {
  color: #e1e1e1;
}

.portfolio__btn {
  display: inline-block;
  color: #e1e1e1;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 1rem;
  border: 2px solid #e1e1e1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio__btn:hover {
  background-color: #00a3e1;
}
/*# sourceMappingURL=main.css.map */